<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Delivery Receipt Detail'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Delivery Receipts'), ['controller' => 'DeliveryReceipts', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Delivery Receipt'), ['controller' => 'DeliveryReceipts', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Products'), ['controller' => 'Products', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Product'), ['controller' => 'Products', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="deliveryReceiptDetails index large-9 medium-8 columns content">
    <h3><?= __('Delivery Receipt Details') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('delivery_receipt_id') ?></th>
                <th><?= $this->Paginator->sort('product_id') ?></th>
                <th><?= $this->Paginator->sort('quantity_delivering') ?></th>
                <th><?= $this->Paginator->sort('product_serial') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($deliveryReceiptDetails as $deliveryReceiptDetail): ?>
            <tr>
                <td><?= $deliveryReceiptDetail->has('delivery_receipt') ? $this->Html->link($deliveryReceiptDetail->delivery_receipt->title, ['controller' => 'DeliveryReceipts', 'action' => 'view', $deliveryReceiptDetail->delivery_receipt->id]) : '' ?></td>
                <td><?= $deliveryReceiptDetail->has('product') ? $this->Html->link($deliveryReceiptDetail->product->name, ['controller' => 'Products', 'action' => 'view', $deliveryReceiptDetail->product->id]) : '' ?></td>
                <td><?= $this->Number->format($deliveryReceiptDetail->quantity_delivering) ?></td>
                <td><?= h($deliveryReceiptDetail->product_serial) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $deliveryReceiptDetail->delivery_receipt_id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $deliveryReceiptDetail->delivery_receipt_id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $deliveryReceiptDetail->delivery_receipt_id], ['confirm' => __('Are you sure you want to delete # {0}?', $deliveryReceiptDetail->delivery_receipt_id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
