<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $purchaseOrderStatus->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $purchaseOrderStatus->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Purchase Order Status'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Purchase Orders'), ['controller' => 'PurchaseOrders', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Purchase Order'), ['controller' => 'PurchaseOrders', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="purchaseOrderStatus form large-9 medium-8 columns content">
    <?= $this->Form->create($purchaseOrderStatus) ?>
    <fieldset>
        <legend><?= __('Edit Purchase Order Status') ?></legend>
        <?php
            echo $this->Form->input('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
