<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $missedPoStatus->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $missedPoStatus->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Missed Po Status'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Missed Pos'), ['controller' => 'MissedPos', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Missed Po'), ['controller' => 'MissedPos', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="missedPoStatus form large-9 medium-8 columns content">
    <?= $this->Form->create($missedPoStatus) ?>
    <fieldset>
        <legend><?= __('Edit Missed Po Status') ?></legend>
        <?php
            echo $this->Form->input('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
